:root{
    --bsr-margin: 1px;
    --bsr-font-size:18px;
    --bsr-height:30px;
    --bsr-min-width:35px;
    --bsr-color: #090909;
}

.bsr-paginator {
    display: none;
    width: fit-content;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px;
}



.bsr-button {
    height: var(--bsr-height);
    width: fit-content;
    min-width: var(--bsr-min-width);
    margin: var(--bsr-margin);
    font-size: var(--bsr-font-size);
    color: #0a708d;
    border: none;

    background-color: #c9eff6;
    cursor: pointer;
}
.bsr-button:hover {
    background-color: #9ae5f8;
}
.bsr-button:focus {
    background-color: #5799ef;
    border: none;
    outline: none;
    color: white;
}

.bsr-button-selection {
    background-color: #5799ef;
    color: white;
}








.bsr-button-ellipsis {

    height: var(--bsr-height);
    width: fit-content;
    min-width: var(--bsr-min-width);
    margin: var(--bsr-margin);
    font-size: var(--bsr-font-size);
    color: var(--bsr-color);
    border: none;
    background: transparent;
    cursor: default;

}


.bsr-button-side {
    height: var(--bsr-height);
    width: fit-content;
    min-width: var(--bsr-min-width);
    margin: var(--bsr-margin);
    font-size: var(--bsr-font-size);
    color: var(--bsr-color);
    border: none;

    background-color: transparent;
    cursor: pointer;

}
.bsr-button-side:hover{
    background-color: #dedcdc;
    border: none;
}
.bsr-button-side:active{
    background-color: #c7c6c6;
    border: none;
}
.bsr-button-side:disabled{
    background-color: transparent;
    opacity: 50%;
    cursor: not-allowed;
    border: none;
}
