body {
  background: wheat;
  margin: 0;

}


#root {
  width: 100vw;
  height: 100vh;
  display: flex;
}
#left-menu {

  max-width: 300px;
  min-width: 300px;
  width: 10%;
  height: 100%;
  background-color: white;
}
#content {
  padding: 10px;
  width: 100%;
  background-color: white;
}

