body {
  background: white;
  margin: 0;
  font-family: "Times New Roman", serif;
  font-size: 20px;



}
.band{
  height: 1px;
  background: #dedcdc;
  margin-top: 1px;
  margin-bottom: 1px;
}
.selected-menu{
  background: #dedcdc;
}


#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: #faf7f7;
}
#left-menu {


  max-width: 300px;
  min-width: 300px;
  width: 10%;
  height: 100%;

}

#content {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: #faf7f7;
  padding: 10px 10px 10px 30px;
}
.not-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

table, th, td {

  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
}
table{
  width: 80%;
  padding: 30px;
  margin: 30px;
}
tr:nth-child(even) {
  background-color: #f7f8f8;
}
th{
  background: #dedcdc;
}
td[data-d] {
  font-weight: bold;
}
caption {
  font-size: 20px;
  caption-side: top;
  text-align: left;
  padding-bottom: 10px;
  font-weight: bold;
}
.menu-example{
  border-radius: 3px;
  height: 30px;
  width: 200px;
  cursor: pointer;
  background: #dfeaf5;
  color: black;
}
.menu-example:hover{
  background: #e2edf8;
}
.menu-example:active{
  background: #dddfe2;
}

.sub-menu-example{

  height: 30px;
  width: 200px;
  cursor: pointer;
  background: #fff;
  color: black;
}
.sub-menu-example:hover{
  background: #f5f6f8;
}
.sub-menu-example:active{
  background: #ebecec;
}

/*.popup-123{*/
/*  border: 1px solid #757474 !important;*/

/*  box-shadow:  2px 2px 2px #e5e1e1 !important;*/

/*}*/
.popup-123-form{
  border: 1px solid #b8b5b5 !important;
  box-shadow:  2px 2px 2px #e5e1e1 !important;
}
.drop-example{
  height: 30px;
  width: 200px;
}
.FormExample{
  padding: 10px;
  background: #d7d4d4;
  width: 180px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.menu-123-item {
 background: rgba(243, 241, 241, 0.94);
}
.selected-menu{
  background: rgba(206, 206, 206, 0.94);
}



